.content-html {
  width: 100%;
  word-wrap: break-word;
  padding: 0 10px;
  white-space: pre-wrap;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.seowhy {
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
}